@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	@apply bg-main text-font font-main;
}

h1, h2, h3, h4, h5, h6 {
	@apply font-accent;
}

::-webkit-scrollbar {
	width: 6px;
	height: 4px;
}

::-webkit-scrollbar-track {
	@apply bg-utils-secondary;
}

::-webkit-scrollbar-thumb {
	@apply bg-white/60;
}

input[type="range"] {
	@apply appearance-none h-1 sm:h-2 rounded-md bg-white/20;
}

input[type="range"]::-webkit-slider-thumb {
	@apply appearance-none w-4 h-4 sm:w-5 sm:h-5 border-none rounded-full bg-accents-primary cursor-ew-resize;
}

input[type="range"]::-moz-range-thumb {
	@apply w-4 h-4 sm:w-5 sm:h-5 border-none rounded-full bg-accents-primary cursor-ew-resize;
}

input[type="range"]::-ms-thumb {
	@apply w-4 h-4 sm:w-5 sm:h-5 border-none rounded-full bg-accents-primary cursor-ew-resize;
}

::-webkit-color-swatch {
	@apply border-none rounded-full;
}

::-moz-color-swatch {
	@apply w-8 h-8 border-none rounded-full;
}

@layer components {
	.flex-center--col {
		@apply flex flex-col items-center justify-center;
	}

	.flex-center--row {
		@apply flex flex-row items-center justify-center;
	}
}

